* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}


.logo img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;

}

body {
  background-color: #f0f4f8;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

main {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

h1 {
  color: #000000;
  margin-bottom: 20px;
  font-size: 2rem;
}

.input-container {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #36e700;
  border-radius: 10px;
  width: 100%;
  transition: border-color 0.3s ease;

}

input[type="text"]:focus {
  border-color: #000000;
  outline: none;
}

button {
  padding: 10px 15px;
  width: 50%;
  margin: 0 auto;
  font-size: 1rem;
  background-color: #3c3c3c;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #494949;
}

.weather-icon-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.weather-container h2 {
  font-size: 2rem;
  color: #333;
}

.weather-container h3 {
  font-size: 1.2rem;
  color: #888;
}

.weather-container img.weather-icon {
  width: 50px;
  height: 50px;
}

.weather-container p {
  font-size: 1.5rem;
  font-weight: bold;
}

.weather-info {
  display: grid;
  border: #2d2d2d 1px solid;
  border-radius: 10px;
  padding: 10px;
  grid-template-columns: 2fr 2fr;
  gap: 10px;
  margin: 5px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-info p {
  color: #555;
  font-size: 1rem;
  font-family: "Source Code Pro", monospace;
}

.weather-info span {
  color: #333;
  font-size: 1rem;
  font-weight: bold;
}




@media (max-width: 768px) {
  main {
    padding: 15px;
    max-width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  body {
    background-color: none;
    padding: 0;
    margin: 0;
  }


  input[type="text"] {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    font-size: 2rem;
  }

  button {
    width: 100%;
    height: 70px;
  }

  .weather-container h2 {
    font-size: 2.5rem;
  }

  .weather-container h3 {
    font-size: 1.8rem;
  }

  .weather-container p {
    font-size: 3rem;
  }

  .weather-info p {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  main {
    padding: 15px;
    max-width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  body {
    background-color: none;
    padding: 0;
    margin: 0;
  }


  input[type="text"] {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 1.4rem;
  }

  button {
    width: 100%;
    height: 50px;
  }

  .weather-container h2 {
    font-size: 1.5rem;
  }

  .weather-container h3 {
    font-size: 1rem;
  }

  .weather-container p {
    font-size: 1.5rem;
  }

  .weather-info p {
    font-size: 0.8rem;
  }
}

.error {
  color: red;
  margin-top: 20px;
  font-size: 1rem;
}

.copy {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #aaa;
}

#main {
  background-size: cover;
}